<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.3/xlsx.full.min.js"></script>

  <link rel="stylesheet" href="styles.css">
  <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>

  <style>
    @import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      list-style: none;
      text-decoration: none;
      font-family: 'Josefin Sans', sans-serif;
    }

    body {
      background-color: #f3f5f9;
    }

    .wrapper {
      display: flex;
      position: relative;
    }

    .wrapper .sidebar {
      width: 200px;
      height: 100%;
      background: #fbfbfd;
      padding: 30px 0px;
      position: fixed;
    }

    .wrapper .sidebar h2 {
      color: #fff;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 30px;
    }

    .wrapper .sidebar ul li {
      padding: 15px;
      border-bottom: 1px solid #2D3250;
      border-bottom: 1px solid rgba(0, 0, 0, 0.05);
      border-top: 1px solid rgba(255, 255, 255, 0.05);
    }

    .wrapper .sidebar ul li a {
      color: #2D3250;
      display: block;
    }

    .wrapper .sidebar ul li a .fas {
      width: 25px;
    }

    .wrapper .sidebar ul li:hover {
      background-color: #FC7300;
    }

    .wrapper .sidebar ul li:hover a {
      color: #fff;
    }

    .wrapper .sidebar .social_media {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
    }

    .wrapper .sidebar .social_media a {
      display: block;
      width: 40px;
      background: #FC7300;
      height: 40px;
      line-height: 45px;
      text-align: center;
      margin: 0 5px;
      color: #2D3250;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }

    .wrapper .main_content {
      width: 100%;
      margin-left: 200px;
    }

    .wrapper .main_content .header {
      padding: 20px;
      background: #fff;
      color: #717171;
      border-bottom: 1px solid #e0e4e8;
    }

    .wrapper .main_content .info {
      margin: 20px;
      color: #717171;
      line-height: 25px;
    }

    .wrapper .main_content .info div {
      margin-bottom: 20px;
    }
  </style>
  <style>
    .select-container {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-top: -50px;

      /* Pour prendre toute la hauteur de la vue */

      /* Espacement à droite */
    }

    .select1 {
      padding: 8px;

      border: 1px solid #ccc;
      border-radius: 20px;
      box-sizing: border-box;
      width: 150px;
      /* Largeur minimale pour les sélecteurs */

      font-size: 13px;
      border-radius: 20em;
      font-family: inherit;
      box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
      letter-spacing: 0.09em;
      border-radius: 20em;
      cursor: pointer;
      touch-action: manipulation;



    }

    .label1 {
      margin-bottom: 8px;
      font-weight: bold;
    }

    body {
      background-color: #fff;
      color: #2D4356;
      font-family: Arial, sans-serif;
    }

    table {
      width: 100%;
      border-collapse: collapse;
    }

    th,
    td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #fff;
    }

    th {
      background-color: #173550;
      color: #fff;
    }

    tr:nth-child(even) {
      background-color: #2D3250;
    }

    .btn {
      padding: 6px 12px;
      background-color: #173550;
      color: #fff;
      border: none;
      cursor: pointer;
    }

    .btn:hover {
      background-color: #1F4E6B;
    }
  </style>

  <style>
    .custom-form {
      background-color: #1F4E6B;
      padding: 1px;
      color: #fff;
      width: 500px;
      /* Ajoutez une couleur de texte appropriée */
    }
  </style>
  <style>
    /* Define font family and size for the whole document */
    /* Define font family and size for the whole document */
    html {
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
    }

    /* Set a background color */
    body {
      background-color: #f2f2f2;
    }

    /* Define the sidebar */
    .my-own-container .sidebar {
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width: 220px;
      background-color: #fcfcfc;
      z-index: 1000;
      /* Set a high z-index */
    }

    .my-own-container .navbar-brand {
      background-image: url('./Capture\ d’écran\ 2023-04-09\ 033300.png');
      background-repeat: no-repeat;
      background-size: contain;
      width: 190px;
      /* set the width of your image */
      height: 50px;
      /* set the height of your image */
      display: block;
      /* make the link a block element */
      text-indent: -9999px;
      /* hide the link text */
      margin-top: 50px;
      margin-left: 16px;
    }


    /* Style the navigation */
    .my-own-container .my-nav {
      margin-top: 60px;
      text-align: center;
    }

    .my-own-container .my-nav ul {
      padding: 0;
      margin: 0;
      list-style: none;
    }


    .my-own-container .my-nav li {
      margin-bottom: 15px;
    }

    .my-own-container .my-nav a {
      display: block;
      padding: 10px;
      color: #2D3250;
      text-decoration: none;
      transition: all 0.3s ease;
    }

    .my-own-container .my-nav a:hover {
      background-color: #FC7300;
      color: #ffffff;
      text-decoration: none;
    }

    .my-own-container .my-nav .active a {
      background-color: #525151;
    }


    /* Define the main content area */
    .my-own-container .main {
      display: flex;
    }

    .my-own-container #content-container {
      position: absolute;
      top: 0;
      left: 250px;
      /* Set the left position to the width of the sidebar */
      right: 0;
      bottom: 0;
      padding: 20px;
      overflow-y: auto;
      /* Add vertical scroll if necessary */
    }



    /* css ouverture reclamation */
    .btn-primary {
      background-color: #305673;
      border-color: #305673;
      color: #fff;
      padding: 10px 20px;
      font-size: 18px;
      border-radius: 5px;
      cursor: pointer;
    }

    .modal {
      display: none;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(0, 0, 0, 0.4);
    }

    .modal-content {
      background-color: #fefefe;
      margin: 10% auto;
      padding: 20px;
      border: 1px solid #888;
      width: 80%;
      max-width: 600px;
      border-radius: 5px;
    }

    .close {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }

    .close:hover,
    .close:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }

    .mm {
      margin-left: 50px;
    }

    .mmm {
      background-color: #2D3250;

      color: #fff;
      border-color: #2D3250;
      padding: 10px;
      font-size: 10px;
      border-radius: 20px;
    }

    .btn-reclamation {
      background-color: #2D3250;
      color: #fff;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
    }

    .btn-reclamation:hover {
      background-color: #2D3250;
    }

    .btn-reclamation11 {
      background-color: #A76F6F;
      color: #fff;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
    }

    .btn-reclamation11:hover {
      background-color: #a71d2a;
    }
  </style>

</head>

<body>

  <div class="wrapper">
    <div class="sidebar">

      <h2>Sidebar</h2>
      <% if (Error!="a" ) { %>
        <% if (Error=="admin" ) { %>
          <ul>
            <li><a style="text-decoration: none;" id="home" href="/home1"><i class="fas fa-home"></i>Accueil</a></li>
            <li><a style="text-decoration: none;" id="er" href="/eleve"><i class="fas fa-user"></i>Etudiant reclamer</a>
            </li>
            <li><a style="text-decoration: none;" id="m" href="/matier"><i class="fas fa-address-card"></i>Matieres</a>
            </li>
            <li><a style="text-decoration: none;" id="r" href="/r"><i class="fas fa-chart-bar"></i>Statistique</a></li>
            <li><a style="text-decoration: none;" id="table" href="/table"><i class="fas fa-table"></i>PV</a></li>
            <li><a style="text-decoration: none;" id="date_open" href="/date"><i class="fas fa-clock"></i>Ouvrir la
                réclamation</a></li>
            <li><a style="text-decoration: none;" id="date_prof" href="/date_prof"><i
                  class="fas fa-clock"></i>Traitement des réclamation</a></li>
          </ul>
          <% } %>
            <% if(Error=="" ) { %>
              <ul>
                <li><a style="text-decoration: none;" id="home" href=""><i class="fas fa-home"></i>Accueil</a></li>
                <li><a style="text-decoration: none;" id="matierr" href="#"><i
                      class="fas fa-address-card"></i>Matieres</a></li>
                <li><a style="text-decoration: none;" id="env_reclamation" href="#"><i class="fas fa-table"></i>Envoie
                    reclamation</a></li>
                <li><a style="text-decoration: none;" id="reclamation" href="#"><i class="fas fa-user"></i>Voir
                    reclamation</a></li>
              </ul>
              <% } %>
                <% if(Error=="prof" ) { %>
                  <ul>
                    <li><a style="text-decoration: none;" id="home" href="#"><i class="fas fa-home"></i>Accueil</a></li>
                    <li><a style="text-decoration: none;" id="er_prof" href="/eleve_prof"><i
                          class="fas fa-address-card"></i>Reclamations</a>
                    </li>
                  </ul>
                  <% } %>
                    <% } %>
                      <div class="social_media">
                        <li><a id="Logout" href="/log"><i class="fas fa-sign-out-alt"></i>Logout</a></li>
                      </div>

    </div>
    <div class="main_content">
      <div id="content-container">
        <div id="content">
          <section class="home">
            <section class="c-section">

              <div class="center">
                <% if (Error!="a" ) { %>
                  <p id="k"></p>
                  <% } %>
                    <% if (Error!="a" ) { %>
                      <% if (Error=="admin" ) { %>

                        <!-- Vos éléments de formulaire ici -->



                     


                        <div class="select-container">
                          <form class="mm" action="addall" method="post">
                            <br><br>
                            <h2 style="text-align: center; color: #FC7300;">Importation du pv </h3>
                              <!-- /<input class="choose-file" type="file" id="choose-file" name="fileInput" required>
                                      <label for="choose-file" class="upload-file"> pv delibration</label><br><br>
                                      <button class="mmm" type="submit">Import</button> -->

                            <div style="margin-top: 30px;">
                              <label for="niveau" class="label1">Niveau:</label>
                              <select name="niveau" id="niveau" class="select1">
                                <option value="L1">L1</option>
                                <option value="L2">L2</option>
                                <option value="L3">L3</option>

                              </select>


                              <label for="semestre" class="label1">Semestre:</label>
                              <select name="semestre" id="semestre" class="select1">

                                <option value="S1">S1</option>
                                <option value="S2">S2</option>
                                <option value="S3">S3</option>
                                <option value="S4">S4</option>
                                <option value="S5">S5</option>
                                <option value="S6">S6</option>
                              </select>


                              <label for="filiere" class="label1">Filière:</label>
                              <select name="filiere" id="filiere" class="select1">
                                <option value="T">T</option>
                                <option value="DSI">DSI</option>
                                <option value="CNM">CNM</option>
                                <option value="RSS">RSS</option>
                              </select>
                              <label for="annee" class="label1">Année
                                :</label>
                              <select id="annee" name="annee" class="select1"></select>

                              <script>
                                const selectAnnee = document.getElementById('annee');
                                const anneeActuelle = new Date().getFullYear();

                                // Ajoute les options d'année de l'année actuelle jusqu'à 20 ans en arrière
                                for (let annee = anneeActuelle; annee >= anneeActuelle - 80; annee--) {
                                  const option = document.createElement('option');
                                  option.value = `${annee}-${annee + 1}`;
                                  option.text = `${annee}-${annee + 1}`; // Format année académique par exemple 2023-2024
                                  selectAnnee.add(option);
                                }
                              </script>
                              <label for="choose-file" class="label1"> pv
                                delibration</label>
                              <input class="mmm" type="file" id="choose-file" name="fileInput" required>

                              <button class="mmm" type="submit">Import</button>
                            </div>
                          </form>
                        </div>
                        <div style="text-align: center; margin-top: 70px;">
                          <div style="position: relative; display: inline-block;">
                              <img src="img/undraw_click_here_re_y6uq.svg" alt="formation" role="presentation" class="img-responsive atto_image_button_text-bottom" width="" height="300">
                              <label style="position: relative; top: -90px; left: -90px; transform: translateX(-50%); color: #2D3250; font-weight: bold;">La forme<br> pv delibration <br>doit être comme ceci.</label>
                          </div>
                          <div style="display: inline-block; margin-top: 10px; margin-left: -60px;  ">
                              <img src="img/pv.png" alt="formation" role="presentation" class="img-responsive atto_image_button_text-bottom" width="" height="300px">
                          </div>
                      </div>
                      
                        


              </div>
              
              
              <% } %>
                <% if(Error=="" ) { %>
                  <!--jumbotron header-->
                  <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                      <h1>Bienvenue, Faites votre reclamations de manière plus simple </h1>

                      </p>
                    </div>
                  </div>

                  <!--cartes acces rapide
          les images sont a inserer via l outil image de l editeur texte
          le lien des boutons est a completer avec les liens adequats
          -->
                  <div class="container-fluid">

                    <div class="row">
                      <div class="col-sm-4">
                        <div class="card">
                          <div style="text-align: center;"><img src="img/p1.svg" alt="formation" role="presentation"
                              class="img-responsive atto_image_button_text-bottom" width="" height="180"></div>
                          <div class="card-body">
                            <h5 class="card-title">Catalogue</h5>
                            <p class="card-text">Consulter la liste de tous vos Notes et accéder aux
                              Reclamations.
                              <br>
                            </p>

                          </div>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="card">
                          <div style="text-align: center;"><img src="img/p3.svg" alt="informer"
                              class="img-responsive atto_image_button_text-bottom" width="" height="180"></div>
                          <div class="card-body">
                            <h5 class="card-title">Informations</h5>
                            <p class="card-text">Vetes vos Reclamations plus facilement pour vos notes.
                            </p>

                          </div>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="card">
                          <div style="text-align: center;"><img src="img/p2.svg" alt="aide"
                              class="img-responsive atto_image_button_text-bottom" width="" height="180"></div>
                          <div class="card-body">
                            <h5 class="card-title">Centre d'aide</h5>
                            <p class="card-text">Consulter la traitement de modification , de vos reclamation par email
                              ou sur le site.
                            </p>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div><br>
                  <% } %>
                    <% if(Error=="prof" ) { %>
                      <!--jumbotron header-->
                      <div class="jumbotron jumbotron-fluid">
                        <div class="container">
                          <h1>Bienvenue, Faites votre reclamations de manière plus simple </h1>

                          </p>
                        </div>
                      </div>

                      <!--cartes acces rapide
          les images sont a inserer via l outil image de l editeur texte
          le lien des boutons est a completer avec les liens adequats
          -->
                      <div class="container-fluid">

                        <div class="row">
                          <div class="col-sm-4">
                            <div class="card">
                              <div style="text-align: center;"><img src="img/p5.svg" alt="formation" role="presentation"
                                  class="img-responsive atto_image_button_text-bottom" width="" height="180"></div>
                              <div class="card-body">
                                <h5 class="card-title">Catalogue</h5>
                                <p class="card-text">Consulter la liste de tous les cours et accéder
                                  aux documents de formation.
                                  <br>
                                </p>

                              </div>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <div class="card">
                              <div style="text-align: center;"><img src="img/p4.svg" alt="informer"
                                  class="img-responsive atto_image_button_text-bottom" width="" height="180"></div>
                              <div class="card-body">
                                <h5 class="card-title">Informations</h5>
                                <p class="card-text">Consulter et télécharger les documents de la
                                  scolarité.</p>

                              </div>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <div class="card">
                              <div style="text-align: center;"><img src="img/p6.svg" alt="aide"
                                  class="img-responsive atto_image_button_text-bottom" width="" height="180"></div>
                              <div class="card-body">
                                <h5 class="card-title">Centre d'aide</h5>
                                <p class="card-text">Consulter la documentation de Moodle, des
                                  tutoriels et contacter le support.
                                </p>

                              </div>
                            </div>
                          </div>
                        </div>
                      </div><br>
                      <% } %>
                        <% } %>

            </section>
          </section>
        </div>
      </div>
</body>

<script>
  // Fonction pour ajouter une option à un sélecteur
  function addOption(selectElement, value, text) {
    const option = document.createElement('option');
    option.value = value;
    option.text = text;
    selectElement.add(option);
  }

  // Récupérer les éléments HTML du niveau, du semestre et de la filière
  const niveauSelect = document.getElementById('niveau');
  const semestreSelect = document.getElementById('semestre');
  const filiereSelect = document.getElementById('filiere');

  // Ajouter un gestionnaire d'événement pour détecter les changements dans le champ du niveau
  niveauSelect.addEventListener('change', function () {
    // Réinitialiser les options du champ du semestre
    semestreSelect.innerHTML = '';

    // Réinitialiser les options du champ de la filière
    filiereSelect.innerHTML = '';

    // Ajouter les options appropriées en fonction du niveau sélectionné
    if (niveauSelect.value === 'L1') {
      addOption(semestreSelect, 'S1', 'S1');
      addOption(semestreSelect, 'S2', 'S2');
      addOption(filiereSelect, 'T', 'T');
    } else if (niveauSelect.value === 'L2') {
      addOption(semestreSelect, 'S3', 'S3');
      addOption(semestreSelect, 'S4', 'S4');
      addOption(filiereSelect, 'DSI', 'DSI');
      addOption(filiereSelect, 'CNM', 'CNM');
      addOption(filiereSelect, 'RSS', 'RSS');
    } else if (niveauSelect.value === 'L3') {
      addOption(semestreSelect, 'S5', 'S5');
      addOption(semestreSelect, 'S6', 'S6');
      addOption(filiereSelect, 'DSI', 'DSI');
      addOption(filiereSelect, 'CNM', 'CNM');
      addOption(filiereSelect, 'RSS', 'RSS');
    }
  });

  // Ajouter un gestionnaire d'événement pour détecter les changements dans le champ du semestre
  semestreSelect.addEventListener('change', function () {
    // Réinitialiser les options du champ de la filière
    filiereSelect.innerHTML = '';

    // Ajouter les options appropriées en fonction du semestre sélectionné
    if (niveauSelect.value === 'L1' && semestreSelect.value === 'S1') {
      addOption(filiereSelect, 'T', 'T');
    } else if (niveauSelect.value === 'L1' && semestreSelect.value === 'S2') {
      addOption(filiereSelect, 'DSI', 'DSI');
      addOption(filiereSelect, 'CNM', 'CNM');
      addOption(filiereSelect, 'RSS', 'RSS');
    } else if (niveauSelect.value === 'L2') {
      // Ajouter les options de filière appropriées pour L2
      addOption(filiereSelect, 'DSI', 'DSI');
      addOption(filiereSelect, 'CNM', 'CNM');
      addOption(filiereSelect, 'RSS', 'RSS');

    } else if (niveauSelect.value === 'L3') {
      addOption(filiereSelect, 'DSI', 'DSI');
      addOption(filiereSelect, 'CNM', 'CNM');
      addOption(filiereSelect, 'RSS', 'RSS');
      // Ajouter les options de filière appropriées pour L3
    }
  });

  // Déclencher l'événement de changement pour mettre à jour les options initiales
  niveauSelect.dispatchEvent(new Event('change'));

</script>
<script src="main.js"></script>
<script>
  var myLink = document.getElementById("matierr");
  myLink.onclick = function () {
    const currentUrl = window.location.href;
    const newUrl = currentUrl.replace('/home', '/matierr');
    window.location.href = newUrl;
    return false;
  };
  var myLinkk = document.getElementById("env_reclamation");
  myLinkk.onclick = function () {
    var currentURL = window.location.href;
    var urlParams = new URLSearchParams(currentURL.split('?')[1]);
    var mat = urlParams.get('mat');
    window.location.href = "env_reclamation/" + mat;
    return false;
  };
  var myLinkkk = document.getElementById("reclamation");
  myLinkkk.onclick = function () {
    const currentUrl = window.location.href;
    const newUrl = currentUrl.replace('/home', '/s_reclamation');
    window.location.href = newUrl;
    return false;
  };
</script>
<script>
  // Script pour la recherche
  const searchInput = document.getElementById('search-input');
  searchInput.addEventListener('input', handleSearch);

  function handleSearch(event) {
    const searchTerm = event.target.value.toLowerCase();
    const sections = document.getElementsByClassName('section');
    let matchFound = false;

    Array.from(sections).forEach(section => {
      const matricule = section.querySelector('h2').textContent.toLowerCase();
      const niveau = section.querySelector('h3:nth-child(2)').textContent.toLowerCase();
      const semestre = section.querySelector('h3:nth-child(3)').textContent.toLowerCase();
      const filiere = section.querySelector('h3:nth-child(4)').textContent.toLowerCase();

      if (
        matricule.includes(searchTerm) ||
        niveau.includes(searchTerm) ||
        semestre.includes(searchTerm) ||
        filiere.includes(searchTerm)
      ) {
        section.style.display = 'block';
        matchFound = true;
      } else {
        section.style.display = 'none';
      }
    });

    if (!matchFound) {
      if (searchTerm) {
        alert('Aucune donnée trouvée.');
      } else {
        alert('Veuillez saisir un terme de recherche.');
      }
    }
  }
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function () {
    $('#sidebarCollapse').on('click', function () {
      $('#sidebar').toggleClass('active');
    });
  });

</script>

</body>

<script>
  function showSignupForm() {
    document.getElementById("login-form").style.display = "none";
    document.getElementById("signup-form").style.display = "block";
  }

  function showLoginForm() {
    document.getElementById("signup-form").style.display = "none";
    document.getElementById("login-form").style.display = "block";
  }
</script>
</body>

<script>
  $(document).ready(function () {
    var url = window.location.href;
    if (url.endsWith('/admin')) {
      loadContent('/reclamations');
    }
    // handle link clicks
    $(document).on('click', 'a', function (event) {
      event.preventDefault();
      var url = $(this).attr('href');
      loadContent(url);
      history.pushState({ url: url }, null, url);
    });

    // handle back/forward buttons
    window.addEventListener('popstate', function (event) {
      if (event.state != null) {
        loadContent(event.state.url);
      } else {
        loadContent('/reclamations');
      }
    });

    // check for hash in URL
    if (window.location.hash) {
      var hash = window.location.hash.substring(1);
      loadContent(hash);
    }

    $('#Logout').click(function (e) {
      e.preventDefault(); // prevent the default click behavior
      window.location.href = '/log'; // redirect the user to the logout page
    });
    $('#r').click(function (e) {
      e.preventDefault(); // prevent the default click behavior
      window.location.href = '/r'; // redirect the user to the logout page
    });
    $('#date_prof').click(function (e) {
      e.preventDefault(); // prevent the default click behavior
      window.location.href = '/date_prof'; // redirect the user to the logout page
    });
    $('#date').click(function (e) {
      e.preventDefault(); // prevent the default click behavior
      window.location.href = '/date'; // redirect the user to the logout page
    });
    $('#er').click(function (e) {
      e.preventDefault(); // prevent the default click behavior
      window.location.href = '/eleve'; // redirect the user to the logout page
    });
    $('#er_prof').click(function (e) {
      e.preventDefault(); // prevent the default click behavior
      window.location.href = '/eleve_prof'; // redirect the user to the logout page
    });
    $('#et').click(function (e) {
      e.preventDefault(); // prevent the default click behavior
      window.location.href = '/eleve1'; // redirect the user to the logout page
    });
    $('#m').click(function (e) {
      e.preventDefault(); // prevent the default click behavior
      window.location.href = '/matier'; // redirect the user to the logout page
    });
    $('#table').click(function (e) {
      e.preventDefault(); // prevent the default click behavior
      window.location.href = '/table'; // redirect the user to the logout page
    });
    $('#Reclamations').click(function (e) {
      e.preventDefault(); // prevent the default click behavior
      window.location.href = '/eleve_prof'; // redirect the user to the logout page
    });
  });

  function loadContent(url) {
    $('#content-container').load(url + ' #content');
  }
</script>

</html>